{% load leaflet_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Tourist</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>   

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css">
   
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>

    <!-- FOR LEAFET SEARCH CONTROL -->
    <link rel="stylesheet" type="text/css" href="{% static 'map/leaflet-search.css' %}">
    <script type="text/javascript" src="{% static 'map/leaflet-search.js' %}" > </script>

    <!-- FOR DJANGO LOCATION FIELD -->
    <!-- <script type="text/javascript" src="{% static 'map/jquery.js' %}"></script> -->
	{{form.media}}
    
</head>
<head>
	{% leaflet_js %}
	{% leaflet_css %}
	<title>Smart Tourist Guide</title>

	<div id="map" ></div>
        
		{% leaflet_map "mymap" callback="main_map_init" %}
		<script type="text/javascript">
			function main_map_init(map,options){
                L.marker([27.6828417,85.3178166]).addTo(map);
                
                // current location ERROR!!!!!!!!!!!!!!!
                // var lc = L.control.locate();
                // lc.addTo(map);
				
                var popup = L.popup();
                {% for place in places %}
                    // for formatting
                    var location_json=JSON.parse('{{place.location.geojson}}'.replace(/&quot;/g,'"'));	

                    //for custom red icon
                    var myIcon = L.icon({
                        iconUrl: '/media/info_red.png',
                        iconSize: [38,50],
                    });
                
                    var map_marker = new L.GeoJSON(location_json,{
                        pointToLayer: function (feature,latlng){
                            return L.marker(latlng);
                        }
                    });
                    map_marker.addTo(map).on('click',function show(e){
                        popup
                            .setLatLng(e.latlng)
                            .setContent('{{place.name}} @ <a href="#">{{place.name}}</a>')
                            .openOn(map)
                        });
                {% endfor %}

                
                var controlsearch = new L.Control.Search({
                        url: 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
                        jsonpParam: 'json_callback',
                        propertyName: 'display_name',
                        propertyLoc: ['lat','lon'],
                        marker: L.circleMarker([0,0],{radius:30}),
                        autoCollapse: true,
                        autoType: false,
                        minLength: 2
                    }).on('search:locationfound',function(data){
                        console.log(data);
                    })
                    .addTo(map);
			}
		</script>
	</div>
    <div class="places">

    </div>
</body>
</html>

